<ion-header>
  <ion-toolbar>
    <ion-title>Panel De Asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="asistencia-content">
  <ion-card class="perfil-card">
    <div class="perfil-header">
      <ion-avatar>
        <ion-icon name="person-circle-outline" class="perfil-icon"></ion-icon>
      </ion-avatar>
    </div>
    <div class="perfil-info">
      <p class="info-line">Nombre: Juan Pérez</p>
      <p class="info-line">DNI: 12345678</p>
      <p class="info-line">Rol: Supervisor</p>
    </div>
  </ion-card>

  <div class="turnos-section">
    <h2>Turnos</h2>

    <ion-card button (click)="abrirModal(turnos[0])">
  <ion-card-content>
    Turno Mañana - 8:00 a 12:00
  </ion-card-content>

  <ion-button expand="block" id="openModal">Comenzar turno</ion-button>

  <ion-modal trigger="openModal" [presentingElement]="presentingElement" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Detalles del Turno</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" strong="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-card *ngIf="turnoSeleccionado">
          <ion-card-header>
            <ion-card-title>{{ turnoSeleccionado.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ turnoSeleccionado.fecha }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Horario:</strong> {{ turnoSeleccionado.horario }}</p>
            <p><strong>Responsable:</strong> {{ turnoSeleccionado.usuario }}</p>
            <ion-button expand="block" color="success" (click)="comenzarTurno()">Comenzar Turno</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-card>



    <ion-card button (click)="abrirModal(turnos[1])">
      <ion-card-content>
        Turno Tarde - 14:00 a 18:00
      </ion-card-content>
    </ion-card>
    <ion-card button (click)="abrirModal(turnos[2])">
      <ion-card-content>
        Turno Noche - 20:00 a 00:00
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
