<ion-content (ngSubmit)="login()" [fullscreen]="true" class="login-content">
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Inicia sesión para continuar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item lines="none" class="input-item">
            <ion-icon slot="start" name="mail-outline" class="input-icon"></ion-icon>
            <ion-input  type="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-icon slot="start" name="lock-closed-outline" class="input-icon"></ion-icon>
            <ion-input type="password" placeholder="Contraseña"></ion-input>
          </ion-item>

          <ion-button expand="block" class="login-button" type="submit">Iniciar Sesión</ion-button>

          <div class="register-text ion-text-center">
            ¿No tienes una cuenta?
            <a routerLink="../auth/register">Regístrate</a>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
