.centered-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.button-sesion{
  padding-top: 1rem;
}
